In [2]:
# Dependencies
import pandas as pd

In [ ]:
# Read csv

In [3]:
lyft_csv = pd.read_csv('lyft_sep5_2014_final.csv')
lyft_csv.head(10)

    time_of_trip  start_lat  start_lng  hour       hour_grouping
0  9/5/2014 0:00   40.77766  -73.95732     0  12:00 AM - 2:59 AM
1  9/5/2014 0:00   40.71150  -73.94496     0  12:00 AM - 2:59 AM
2  9/5/2014 0:00   40.77369  -73.87532     0  12:00 AM - 2:59 AM
3  9/5/2014 0:00   40.67803  -73.97806     0  12:00 AM - 2:59 AM
4  9/5/2014 0:00   40.72813  -74.00290     0  12:00 AM - 2:59 AM
5  9/5/2014 0:00   40.72536  -74.01009     0  12:00 AM - 2:59 AM
6  9/5/2014 0:00   40.77982  -73.94844     0  12:00 AM - 2:59 AM
7  9/5/2014 0:00   40.72791  -74.00542     0  12:00 AM - 2:59 AM
8  9/5/2014 0:00   40.75891  -73.97615     0  12:00 AM - 2:59 AM
9  9/5/2014 0:00   40.73121  -73.98265     0  12:00 AM - 2:59 AM

In [5]:
lyft_data_html = lyft_csv.to_html('data.html')